/*
body{
  background: black;
}

h1, h2, h3, h4, h5, h6 {
  color: limegreen;
}
*/

.md-typeset h1 {
  text-transform: uppercase;
  font-weight: 900;
}


.md-typeset h2{
  color: var(--md-primary-fg-color);
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid var(--md-primary-fg-color);
  padding-bottom: 2px;
  margin-top: 4rem;
}

.md-typeset h3 {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #333;
  padding-bottom: 1px;
  margin-top: 2rem;
}

.md-nav__item.md-nav__item--section.md-nav__item--nested > label {
  padding-bottom: 4px;
  border-bottom: 2px solid #444;
  color: var(--md-primary-fg-color--lighter);
  text-transform: uppercase;
  font-size: 0.8rem;
}